<div id="map" style="height: 100vh;"></div>


<div style="position: absolute; top: 50px; right: 10px; z-index: 1000;">
    <button class="dropdown-btn">Load Data</button>
    <!-- <div class="dropdown-content"> -->
        <button (click)="toggleMetarData()">Toggle Metar Data</button>
        <button (click)="toggleTafData()">Toggle Taf Data</button>

    <!-- </div> -->
  </div>


  <div class="table-container" *ngIf="tafTableData.length > 0">
    <h3>TAF Data Table</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Type</th>
          <th>ICAO Code</th>
          <th>Issue Time</th>
          <th>Valid From [TAF]</th>
          <th>Valid Until [TAF]</th>
          <th>Valid From [Type Specific]</th>
          <th>Valid Until [Type Specific]</th>
          <th>Wind Direction</th>
          <th>Wind Speed</th>
          <th>Visibility</th>
          <th>Weather Information</th>
          <th>Cloud Information</th>
          <th>Trend</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tafTableData">
          <td>{{ row['Sl no'] }}</td>
          <td>{{ row.Type }}</td>
          <td>{{ row['ICAO code'] }}</td>
          <td>{{ row['Issue Time'] }}</td>
          <td>{{ row['Valid From [TAF]'] }}</td>
          <td>{{ row['Valid Until [TAF]'] }}</td>
          <td>{{ row['Valid From [Type Specific]'] }}</td>
          <td>{{ row['Valid Until [Type Specific]'] }}</td>
          <td>{{ row['Wind Direction'] }}</td>
          <td>{{ row['Wind Speed'] }}</td>
          <td>{{ row.Visibility }}</td>
          <td>{{ row['Weather Information'] }}</td>
          <td>{{ row['Cloud Information'] }}</td>
          <td>{{ row.Trend }}</td>
        </tr>
      </tbody>
    </table>
</div>

<div class="table-container" *ngIf="metarTableData.length > 0">
  <h3>METAR Data Table</h3>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>ICAO Code</th>
        <th>Time</th>
        <th>Wind Direction</th>
        <th>Wind Speed</th>
        <th>Wind Gust</th>
        <th>Visibility</th>
        <th>RVR</th>
        <th>Weather</th>
        <th>Clouds</th>
        <th>Temperature</th>
        <th>Dew Point</th>
        <th>Pressure</th>
        <th>Ceiling</th>
        <th>Remarks</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of metarTableData">
        <td>{{ row['Sl no'] }}</td>
        <td>{{ row['ICAO Code'] }}</td>
        <td>{{ row.Time }}</td>
        <td>{{ row['Wind direction'] }}</td>
        <td>{{ row['Wind speed'] }}</td>
        <td>{{ row['Wind gust'] }}</td>
        <td>{{ row.Visibility }}</td>
        <td>{{ row.RVR }}</td>
        <td>{{ row.Weather }}</td>
        <td>{{ row.Clouds }}</td>
        <td>{{ row.Temperature }}</td>
        <td>{{ row['Dew Point'] }}</td>
        <td>{{ row.Pressure }}</td>
        <td>{{ row.Ceiling }}</td>
        <td>{{ row.Remarks }}</td>
      </tr>
    </tbody>
  </table>
</div>

